<!-- view model for edit page -->

<div class="container">
  <form>
    <div class="row">
      <div class="col-sm-12">
        <label for="venue">Restroom Venue</label>
        <input ng-model="edit.input.venue" type="text" id="venue" name="venue" placeholder="Restroom Venue Name" class="form-control">
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-sm-12">
        <label for="">Street</label>
        <input ng-model="edit.input.street" type="text" id="street" name="street" placeholder="Street" class="form-control">
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-sm-12">
        <label for="">City</label>
        <input ng-model="edit.input.city" type="text" id="city" name="city" placeholder="City" class="form-control">
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-sm-4">
        <label for="state">State</label>
        <select ng-model="edit.input.state" id="state" name="state" class="form-control">
          <option ng-repeat="state in edit.states" value="{{state}}">
            {{state}}
          </option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="zipcode">Zipcode</label>
        <input ng-model="edit.input.zipcode" type="number" id="zipcode" name="zipcode" placeholder="Zipcode" class="form-control">
      </div>
      <div class="col-sm-4">
        <label for="rating">Restroom Rating:</label>
        <select ng-model="edit.input.rating" id="rating" name="rating" class="form-control">
          <option value="Upvote">Upvote!</option>
          <option value="Downvote">Downvote!</option>
        </select>
      </div>
    </div><!-- end row -->
    <div class="row" class="form-control">
      <div class="col-sm-12">
        <label class="checkbox"><input ng-click="edit.input.unisex = true" type="checkbox" value="Unisex">Unisex</label>
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-sm-12">
        <label class="checkbox"><input ng-click="edit.input.accessible = true" type="checkbox" value="Handicap Accessible">Handicap Accessible</label>
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-sm-12">
        <label class="checkbox"><input ng-click="edit.input.changingTable = true" type="checkbox" value="Changing Table">Changing Table</label>
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-sm-12">
        <label for="comment">Comment</label>
        <textarea ng-model="edit.input.comments.comment"id="comment" name="comment" placeholder="Share your experience with others!" style="height:200px" class="form-control"></textarea>
      </div>
    </div><!-- end row -->
    <div class="row">
    <input type="submit" value="Submit" id="submit" ng-click="edit.submitUserInput()">
    </div><!-- end row -->
  </form>
</div>

<!-- {
    "id": 3578,
    "name": "University of MN - Duluth",
    "street": "1216 Ordean Court",
    "city": "Duluth",
    "state": "MN",
    "accessible": false,
    "unisex": true,
    "directions": "SpHC 17 and 18 (Basement, right next to the pool)",
    "comment": "There are 2 \\\"family changing rooms\\\" in the basement of SpHC. Unfortunately there is no toilet but they are good for a gender neutral changing area. They don't lock but are used infrequently.",
    "latitude": 46.8188303,
    "longitude": -92.0830786,
    "created_at": "2014-02-02T20:54:12.855Z",
    "updated_at": "2014-02-02T20:54:12.855Z",
    "downvote": 1,
    "upvote": 0,
    "country": "US",
    "changing_table": false
  } -->
