<!-- edit restroom view model -->

<div ng-include="'views/partials/nav.html'"></div>

<!-- ng-repeat="restroom in account.restroom" -->

<div ng-controller="RestroomController as restroom" class="container">
  <form>
    <div class="row">
      <div class="col-sm-12">
        <label for="venue">Restroom Venue</label>
        <input ng-model="restroom.restroomToEdit.venue" type="text" id="venue" name="venue" class="form-control">
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-sm-12">
        <label for="">Street</label>
        <input ng-model="restroom.restroomToEdit.street" type="text" id="street" name="street" placeholder="Street" class="form-control">
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-sm-12">
        <label for="">City</label>
        <input ng-model="restroom.restroomToEdit.city" type="text" id="city" name="city" placeholder="City" class="form-control">
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-sm-4">
        <label for="state">State</label>
        <select ng-model="restroom.restroomToEdit.state" id="state" name="state" class="form-control">
          <option ng-repeat="state in restroom.states" value="{{state}}">
            {{state}}
          </option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="zipcode">Zipcode</label>
        <input ng-model="restroom.restroomToEdit.zipcode" type="number" id="zipcode" name="zipcode" placeholder="Zipcode" class="form-control">
      </div>
      <div class="col-sm-4">
        <label for="rating">Restroom Rating:</label>
        <input ng-model="restroom.restroomToEdit.rating" id="rating" name="rating" class="form-control">
      </div>
    </div><!-- end row -->
    <div class="row" class="form-control">
      <div class="col-sm-12">
        <label class="checkbox"><input ng-model="restroom.restroomToEdit.unisex" type="checkbox" value="Unisex">Unisex</label>
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-sm-12">
        <label class="checkbox"><input ng-model="restroom.restroomToEdit.accessible" type="checkbox" value="Handicap Accessible">Handicap Accessible</label>
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-sm-12">
        <label class="checkbox"><input ng-model="restroom.restroomToEdit.changingTable" type="checkbox" value="Changing Table">Changing Table</label>
      </div>
    </div><!-- end row -->
    <div class="row">
      <div class="col-sm-12">
        <label for="comment">Comment</label>
        <textarea ng-model="restroom.restroomToEdit.comment"id="comment" name="comment" placeholder="Share your experience with others!" style="height:200px" class="form-control"></textarea>
      </div>
    </div><!-- end row -->
    <div class="row">
    <input type="submit" value="Update" id="submit" ng-click="restroom.editRestroom(restroom.restroomToEdit)">
    </div><!-- end row -->
  </form>
</div>
